.App {
  text-align: center;
}

html, body{
    min-height: 100vh;
    margin: 0px;
    padding:0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiAccordionSummary-root{
      background-color: #fafafa!important;
}

.MuiAccordion-region{
    box-shadow:         inset 0 8px 6px -6px #7c7c7c;
}

.dataHolder {
  animation: createBox 0.5s;
}

@keyframes createBox {
  0% {
    transform-origin: top center;
    transform: scaleY(0);
    max-height: 0px;
    opacity: 0;
  }
    50% {
    transform-origin: top center;
    transform: scaleY(0);
    max-height: 0px;
    opacity:0
  }
  100% {
    transform-origin: top center;
    transform: scaleY(1);
    max-height: 500px;
    opacity:1
  }
}